{
  "presets": [
    ["env", {
      "useBuiltIns": false,
      "debug": false,
      "loose": true,
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }
    }]
  ],
  "plugins": [
    "babel-plugin-add-module-exports"
  ]
}
